<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>

    <connectionStrings>
          <add name="SampleCRUD.Properties.Settings.crudConnectionString"
              connectionString="server=localhost;User Id=root;password='root';database=empresa"
              providerName="MySql.Data.MySqlClient" />
      </connectionStrings>

</configuration>